<div class="user-auth">
  <div *ngIf="showUser" class="signup">
    <h1>User Signup</h1>
    <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
      <input type="text"
        name="name"
        placeholder="Enter User Name"
        ngModel
      />

      <input
      type="text"
      class="form-input"
      name="email"
      placeholder="Enter user Email"
      ngModel
      minlength="2"
      maxlength="20"
      #email="ngModel"
      required=""
      />
      <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please enter valid input</span></p>
      <input
      type="password"
      class="form-input"
      name="password"
      placeholder="Enter User Password"
      ngModel
      #password="ngModel"
      required=""
      />
      <p class="invalid-input"><span *ngIf="password.invalid && password.touched"></span></p>
      <button class="form-button">Sign Up</button>
      <p>Already Have Account ?<a (click)="openLogin()">Login</a></p>
    </form>
  </div>

<div class="user-login">
  <div *ngIf="!showUser" class="login">
    <h1>User Login</h1>
  <form #userLogin="ngForm" (ngSubmit)="Login(userLogin.value)" class="common-form">
    <input type="text" class="form-input" placeholder="Enter Name" name="name" ngModel>
    <input type="email" class="form-input" placeholder="Enter Email" name="email" ngModel>
    <input type="password" class="form-input" placeholder=" Enter Password" name="password" ngModel>
    <button  [disabled]="userLogin.invalid" class="form-button">Login</button>
    <a (click)="openSignUp()">Don't have account? Click for sign-up</a>
  </form>
  </div>
</div>
</div>














